.from_body {
    width: 100%;
    height: 80%;
    border-bottom: solid 1px #d7d8e1;
}
.custom_label {
    width: 50px;
}
t .custom_dropdown {
    height: 2.5em !important;
    width: 50% !important;
}
.custom-input {
    margin-bottom: 10px;
}
.custom_text_area {
    height: 5rem;
}

.container {
    max-width: 775px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background: transparent;
    border: solid 1px #d7d8e1;
    border-top: none;
    border-bottom: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}
