/* form Header start */

.from_header {
    width: 100%;
    height: 100%;
    border-bottom: solid 1px #d7d8e1;
}
.header_title {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5%;
}
.title {
    font-size: 2em;
    font-weight: bold;
    color: #2c3345;
    margin-bottom: 3px;
}
.sub_title {
    font-size: 1em;
    font-weight: bold;
    color: #2c3345;
}

/* form Header end */

/* form  Footer start*/
.from_footer {
    width: 100%;
    height: 50%;
    border-bottom: solid 1px #d7d8e1;
}
.dump-space {
    width: 50%;
}
.footer-buttons {
    width: 50%;
    justify-content: end;
}
/* form  Footer end*/

/* form  Body start*/

.from_body {
    width: 100%;
    height: 80%;
    border-bottom: solid 1px #d7d8e1;
}
/* form  Body end*/

.container {
    max-width: 775px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background: transparent;
    border: solid 1px #d7d8e1;
    border-top: none;
    border-bottom: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}
